# Android Studio
.gradle/
build/
captured_unittests/
.idea/
*.iml
local.properties

# Keystore files
*.jks
*.keystore

# Google services
google-services.json

# Proguard
proguard/

# Crashlytics
crashlytics.properties
crashlytics-build.properties

# Kover
*.kover
